.grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 35% 65%;
}

.container {
  max-width: 1000px;
  margin: 0 auto; /* 0px => top/bottom, automatic => left/right */
  background-color: white
}

.route-details-card {
  background-color: lightgrey
  width: 800px
  font-color: darkgrey;
}

