.row-show{
  border-radius: 20px;
  margin-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
  background-color: white;
  box-shadow: 2px 2px 4px 1px grey;
}


.btn-success{
  border-radius: 4px;
}


