<div class="footer-inner">
<!--   <section class = "footer-links footer-column">
    <nav>
      <ul class ="u-reset">
        <li class= footer-column--links><a href="#">How does it work<i class="link-us"></i></a>
        </li>
        <li class= footer-column--links><a href="#">Contact us<i class="link-us"></i></a>
        </li>
        <li><a href="#">Work with us<i class="link-us"></i></a>
        </li>
        <li><a href="#">Who we are<i class="link-us"></i></a>
        </li>
        <li><a href="#">Term of use<i class="link-us"></i></a>
        </li>
        <li><a href="#">Current question<i class="link-us"></i></a>
        </li>
      </ul>
    </nav>
  </section> -->
  <div class="footer-social">
    <div class="footer-links">
      <a href="https://www.instagram.com/lewagonbrasil/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/lewagon/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/lewagonparis"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/school/le-wagon/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>



