<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Bringers</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>We found  bringers on our website.</p>
      <h2> Search as sender </h2>
          <input type='text' id='link_id'>
          <input type='text' id='link_id'>
              <input type='button' id='link_str' value='Search' onClick='link()'>
    </div>
  </div>
</div>

<div class="HomeBlock-content">
                                <p class="HomeBlock-contentText u-white u-alignCenter">Caronas simplificam sua viagem.</p>


<form id="search-form" class="u-marginNone u-flex js-trip-search-form" action="/search" role="search">
    <div class="c-input c-input--half js-trip-search-error-from-container gaa-inputContainer js-gaa">
        <div class="js-legoInput">
            <svg aria-hidden="true" class="c-input-icon u-darkGray-fill" style="width: 20px; height: 20px;"><use xlink:href="#icon-circle"></use></svg>

            <input type="text" id="search_from_name" name="fn" class="c-input-field u-fullWidth js-trip-search-input-from js-legoInput-input" placeholder="" data-autocomplete="name" autocomplete="off" data-js="form-input-from">
            <label for="search_from_name" class="c-input-label">
                <span>Saindo de...</span>
            </label>
        </div>
        <div class="js-autocomplete gaa-suggestionsContainer">
    <ul class="gaa-suggestions u-hide js-autocomplete-suggestions"></ul>
    <script type="text/template" class="js-autocomplete-suggestionTemplate">
        <li class="gaa-suggestion">
            <a href="#" class="js-autocomplete-suggestionLink">
                <svg aria-hidden="true"class="c-icon c-icon--baselineAdjustment gaa-suggestionIcon"><use xlink:href="#icon-marker"></use></svg>

                <span class="js-autocomplete-suggestionLabel gaa-suggestionLabel"></span>
            </a>
        </li>
      </script>
  </div>
                <span class="c-input-error js-trip-search-error-from-text"></span>
        <input type="hidden" id="search_from_coordinates" name="fc" data-autocomplete="coordinates" data-autocomplete-ref="search_from_name">
        <input type="hidden" id="search_from_country_code" name="fcc" data-autocomplete="country_code" data-autocomplete-ref="search_from_name">
        <input type="hidden" id="search_from_is_precise" name="fp" data-autocomplete="is_precise" data-autocomplete-ref="search_from_name">
    </div>

    <div class="c-input c-input--half js-trip-search-error-to-container gaa-inputContainer js-gaa">
        <div class="js-legoInput">
            <svg aria-hidden="true" class="c-input-icon u-darkGray-fill" style="width: 20px; height: 20px;"><use xlink:href="#icon-circle"></use></svg>

            <input type="text" id="search_to_name" name="tn" class="c-input-field u-fullWidth js-trip-search-input-to js-legoInput-input" placeholder="" data-autocomplete="name" autocomplete="off" data-js="form-input-to">
            <label for="search_to_name" class="c-input-label">
                <span>Indo para...</span>
            </label>
        </div>
                    <div class="js-autocomplete gaa-suggestionsContainer">
    <ul class="gaa-suggestions u-hide js-autocomplete-suggestions"></ul>
    <script type="text/template" class="js-autocomplete-suggestionTemplate">
        <li class="gaa-suggestion">
            <a href="#" class="js-autocomplete-suggestionLink">
                <svg aria-hidden="true"class="c-icon c-icon--baselineAdjustment gaa-suggestionIcon"><use xlink:href="#icon-marker"></use></svg>

                <span class="js-autocomplete-suggestionLabel gaa-suggestionLabel"></span>
            </a>
        </li>
    </script>
</div>
                <span class="c-input-error js-trip-search-error-to-text"></span>
        <input type="hidden" id="search_to_coordinates" name="tc" data-autocomplete="coordinates" data-autocomplete-ref="search_to_name">
        <input type="hidden" id="search_to_country_code" name="tcc" data-autocomplete="country_code" data-autocomplete-ref="search_to_name">
        <input type="hidden" id="search_to_is_precise" name="tp" data-autocomplete="is_precise" data-autocomplete-ref="search_to_name">
    </div>

    <div class="c-input c-input--half">
        <svg aria-hidden="true" class="c-input-icon u-darkGray-fill" style="width: 20px; height: 20px;"><use xlink:href="#icon-calendar"></use></svg>

        <input type="text" id="search_to_date" class="c-input-field datepicker hasDatepicker" data-format-hidden="#query_db_date" readonly="readonly">
        <label for="search_to_date" class="c-input-label">
            <span>Data</span>
        </label>
        <input type="hidden" id="query_db_date" name="db">
    </div>

    <button type="submit" class="c-input--half Home-button c-button c-button--primary c-button--wide js-trip-search-submit">Procurar carona</button>

    <input type="hidden" id="s_uuid" name="s_uuid">
</form>

</div>
