<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Bringers</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>We found  bringers on our website.</p>
      <h2> Search as sender </h2>
          <input type='text' id='link_id'>
          <input type='text' id='link_id'>
              <input type='button' id='link_str' value='Search' onClick='link()'>
    </div>
  </div>
</div>
