<br>
<br>
  <form action="#" class="form-inline">
    <select name="" id="" class="form-control input-lg" placeholder="type">
      <option value="" disabled selected hidden >Type</option>
      <option value="1">Fits in a pocket</option>
      <option value="2">Fits in a bag</option>
      <option value="3">Fits in a car</option>
      <option value="4">Fits in a big car</option>
      <option value="4">Fits in a van</option>
    </select>
    <input type="text" class="form-control input-lg" placeholder="address of pick-up">
    <input type="text" class="form-control input-lg" placeholder="address of delivery">
    <select name="" id="" class="form-control input-lg" placeholder="When">
      <option value="" disabled selected hidden >When</option>
      <option value="1">I am fexible</option>
      <option value="2">Today</option>
      <option value="3">Tomorrow</option>
      <option value="4">Custom</option>
    </select>
    <input type="submit" class="btn btn-primary btn-lg" value="Search">
  </form>
<br>
<h1>Result</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->
      <div class="card" style="border:3px; border-radius: 25px; border-style:solid; border-color:#A9A9A9; padding: 1em;">
        <div class="card-category"><font color="black">Price: R$25</font></div>
        <div class="card-description">
          <font color="black"><h2>From Sao Paulo at 16h</h2></font>
          <font color="black"><h2>To Rio de janeiro at 18h</h2></font>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->
      <div class="card" style="border:3px; border-radius: 25px; border-style:solid; border-color:#A9A9A9; padding: 1em;">
        <div class="card-category"><font color="black">Price: R$25</font></div>
        <div class="card-description">
          <font color="black"><h2>From Sao Paulo at 16h</h2></font>
          <font color="black"><h2>To Rio de janeiro at 18h</h2></font>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>


    </div>
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->
      <div class="card" style="border:3px; border-radius: 25px; border-style:solid; border-color:#A9A9A9; padding: 1em;">
        <div class="card-category"><font color="black">Price: R$25</font></div>
        <div class="card-description">
          <font color="black"><h2>From Sao Paulo at 16h</h2></font>
          <font color="black"><h2>To Rio de janeiro at 18h</h2></font>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
  </div>
</div>
