<%= form_tag({controller: "routes", action: "search"}, method: "post") do %>
    <%= label_tag(:origin, "Origin:") %>
    <%= text_field_tag(:origin) %>
    <%= submit_tag("Search") %>
<% end %>

<h2>Result</h2>
