
<div class="container">
  <div class="row">
    <div class="card-route-details">
      <div class="card-route-summary">
        <h2>ROUTE DETAILS</h2>
        <ul>
          <p class="card-route-content">
            <strong>Origin: </strong>Ladeira da Gloria, 26, Gloria, Rio de Janeiro
          </p>
          <p class="card-route-content">
            <strong>Destination: </strong>Rua Mourato Coelho, Pinheiros, Sao Paulo
          </p>
          <p class="card-route-content">
            <strong>Date & Time: </strong>28/11/2018, 3.50pm
          </p class="card-route-content">
          <p>
            <strong>Price: </strong>$30.00
          </p>
          <p>
            <strong>Comment: </strong>I'm going back home as usual, and will have space in my mid-size car (Fiat Sentra), for middle-sized packages. If still in Sao Paulo downtown, I can drop off the package on the same day.
          </p>
        </ul>
        <div class="card-route-bringer-details">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-bringer-details">
        <img src=" " class="card-user-avatar">
        <div class="card-bringer-infos">
          <h2>BRINGER DETAILS</h2>
          <ul>
            <p><strong>Carlos</strong></p>
            <p>32 anos</p>
            <p>4.9/5.0</p>
          </ul>
        </div>
      </div>
      <%= link_to "Confirmar pedido", order_path, class: "btn btn-sucess" %>
    </div>
  </div>
